@import "sass-rem";

.form_control {
  .input_label {
    position: unset;
    transform: unset;
    transition: unset;
    margin-bottom: rem(10px);
  }
  .input_custom {
    background-color: #000;
    @include rem(
      (
        border: 1px solid #000
      )
    );
  }
  fieldset {
    border: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
