@import "../../assets/scss/_variables.scss";
@import "../../assets/scss/_mixins.scss";

.content-drawer {
  .close-icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: rem(34px) rem(22px);
  }

  .button-drawer {
    padding: 0;
  }

  .divider {
    background: $grey-f5;
    width: 100%;
    height: rem(8px);
  }

  .login-box {
    //background: $black-1F;
    padding: rem(24px) rem(16px);
    .right-title {
      right: 0;
      color: $white-basic;
      padding: rem(6px) rem(12px);
      background-color: #313038;
      border-radius: rem(8px);
      float: right;
      display: flex;
      align-items: center;
      text-decoration: unset;
      svg {
        margin-right: rem(4px);
      }
      cursor: pointer;
    }
    .top-title-one {
      display: inline-block;
      color: #000000;
      margin-bottom: rem(66px);
    }
    .link-login {
      text-decoration: none;

      .top-title-one {
        display: inline-block;
        color: #000000;
        margin-bottom: rem(66px);
      }
      .top-title-two {
        color: $grey-400;
        margin-right: rem(13px);
      }
    }
    .bottom-title-two {
      color: $blue-900;
    }
  }

  .list-item {
    padding: 0;
    .title-item {
      margin: 0;
      span {
      }
    }
    .button-link {
      padding: 0;
      height: 100%;
      &:hover {
        background: unset;
      }
    }
    .item-link {
      &:hover {
        background: $grey-300;
      }
      padding: 0 rem(22px) 0 rem(16px);
      height: 56px;
    }
    .active-item-link {
      @extend .item-link;
      background: $grey-300;
    }
    .collapse {
      .collapse-list {
        .item-link {
          padding-left: rem(40px);
        }
      }
    }
  }
  .bottom-title-single {
    @extend .bottom-title-one;
    cursor: pointer;
    margin-top: rem(60px);
    width: 100%;
    text-align: center;
  }
  .bottom-title-one {
    display: inline-block;
    color: $grey-400;
    margin-right: rem(5px);
  }
}
