@import "sass-rem";
.popup_container {
  margin: 0;
  width: 100%;
  max-width: rem(720px);
}
.popup_paper {
  width: 100%;
  margin: auto rem(27.5px) !important;
}
.popup_root {
  display: flex;
  justify-content: center;
  z-index: 1250;
}
.popup_wrapper {
  &.dark {
    background-color: #1f1f29;
  }
  &.light {
    background-color: #fff;
  }
  width: 100%;
  padding: 0 !important;
  .content_wrapper {
    // border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: rem(32px);
    .title {
      white-space: pre-wrap;
      text-align: center;
    }
    .description {
      white-space: pre-line;
    }
    .subtitle {
      white-space: pre-line;
      margin-bottom: rem(16px);
    }
    .item_list {
      // white-space: pre-line;
      list-style-type: disc;
      color: white;
      .description {
        display: inline-block;
      }
    }
  }
  .action_wrapper {
    height: rem(48px);
    margin-top: rem(48px);
    align-items: center;
    justify-content: center;
    gap: rem(8px);
    display: flex;
    .submit_button {
      width: rem(120px);
    }
  }
}
